@font-face {
    font-family: 'MyFont';
    src: url('./My-Font.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
     }
.hello{
    font-family: 'MyFont';
    color:red;
    background: url('./Frame.png') no-repeat;
}